@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #17255a;
  margin: 0;
}

h1, h2, h3 {
  font-family: "VT323", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Roboto", serif;
  font-size: 18px;
}

button {
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a button {
  width: 250px;
}
header button {
  border-radius: 7px 7px 0 0;
  background-color: #1324bd;
}
header button.front {
  border-radius: 0;
}
header .left-menu {
  display: flex;
  flex-direction: column;
}
header .left-menu button {
  border: 3px solid #000;
  padding: 10px;
  color: white;
}
header .left-menu button:hover {
  background-color: #f5e2c8;
  color: #000;
  border-width: 5px;
  transform: translateY(-3px);
}
header .right-menu {
  display: flex;
  gap: 10px;
}
header .right-menu button {
  font-size: 50px;
  background-color: #f5e2c8;
  border: 5px solid #000;
  border-bottom: none;
  width: 250px;
}

.front-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.front-page h1 {
  background-color: #f5e2c8;
  padding: 5px;
}
.front-page .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.front-page .arrow-container {
  padding-bottom: 30px;
  position: relative;
}
.front-page .arrow-container p {
  color: white;
  margin-bottom: 20px;
}
.front-page .arrow-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #fff;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}
.container .card {
  background-color: #f5e2c8;
  border: 5px solid #000;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.container .card .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .card .about img {
  height: 400px;
}
.container .card .about .info {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.container .card .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.container .card .contact a {
  color: inherit;
}
.container .card .contact button {
  border: 3px solid #000;
  padding: 5px;
  background-color: #1324bd;
  color: white;
}
.container .card .contact button:hover {
  background-color: #17255a;
  color: #f5e2c8;
}
.container .card .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .card .skills .projects-courses {
  display: flex;
  flex-direction: column;
}
.container .card .skills .projects-courses .projects-info .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .card .skills .projects-courses .projects-info .projects .project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.container .card .skills .projects-courses .projects-info .projects .project-card img {
  max-width: 100%;
}
.container .card .skills .projects-courses .projects-info .projects .project-card a {
  color: inherit;
}
.container .card .skills .projects-courses .projects-info .course-info {
  padding: 30px;
}
.container .card .skills .projects-courses .projects-info .course-info a {
  color: inherit;
}

footer {
  text-align: center;
  border-top: 2px dotted #000;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .left-menu, .right-menu {
    flex-direction: column;
    width: 100%;
  }
  .left-menu button {
    margin-bottom: 10px;
  }
  .front {
    margin: 0;
  }
  .right-menu button {
    font-size: 30px;
    width: auto;
  }
  .container {
    margin: 0;
    padding: 10px;
  }
  .container .card {
    padding: 0;
  }
  .container .card .about {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */